@import url('https://fonts.googleapis.com/css2?family=Aclonica&family=Bruno+Ace+SC&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    font-family: "Open Sans";
}

.lander{
    background: linear-gradient(to top, rgba(0, 0, 0, 0.8) 0, rgba(0, 0, 0, 0) 60%, rgba(0, 0, 0, 0.8) 100%),url(Netflix\ BG.jpg);
}
html{
    background: linear-gradient(to top, rgba(0, 0, 0, 0.8) 0, rgba(0, 0, 0, 0) 60%, rgba(0, 0, 0, 0.8) 100%),url(./Netflix\ BG.jpg);

    background-repeat: no-repeat;
    background-size: auto;
}
html{
    background-color: black;
}
/* --------------------------------Header css---------------------------------------- */
header{
    height: 7vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .nav-right{
    margin-right: 5vw;

}
header .logo img{
    padding-left: 8vw;
    height: 3.7vw;
}
header .nav-right select{
    margin-right: 4vw;
    padding: .5vw 1.2vw;
    font-size: 1vw;
    border: 2px solid rgba(0, 0, 0, 0.534);
    border-radius: 8px;
    background: transparent;
}
header .nav-right select option{
    color: black;
}
header .nav-right button{
    padding: .5vw 1.2vw;
    font-size: 1.1vw;
    background-color: red;
    border: none;
    border-radius: 3px;
}

/* ---------------------------main section------------------------------ */
.main-section{
    text-align: center;
    margin-top: 10vw;
}
.main-section .tag-line{
    font-size: 3vw;
    font-weight: 700;
}
.main-section p{
    font-size: 1.4vw;
    margin-top: 2vw;
}

.main-section .login{
    display: flex;
    align-items: center;
    justify-content: center;
}
.main-section .login input{
    margin-top: 2vw;
    width: 25vw;
    height: 3.8vw;
    font-size: large;
    padding: 0 2px;
    background: transparent;
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
    color: white;
}
.main-section .login input::placeholder{
    color: white;
}
.main-section .login input:hover{
        font-size: 10px;
        padding:7px;
        text-transform:capitalize;
        letter-spacing: 1px;

    
}
.main-section .login button{
    background-color: red;
    padding: 1vw 1.3vw;
    font-size: 1.4vw;
    word-spacing: 5px;
    letter-spacing: 1px;
    border: none;
    margin-top: 1.9vw;
    margin-left: .3vw;
    border-radius: 3px;
    font-weight: 600;
}
hr{
    border: 5px solid rgb(63, 62, 62);
    margin-top: 10vw;
}



@media (max-width:600px){
    *{
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }
    .lander{
        background-position: center;
        background-size: cover;
        height: 75vh;
    }
    /* --------------- ---------------header section -css ---------------------------------- */
    header{
        height: 13vw;
        display: flex;
        align-items: center;
    }
    header .logo img{
        margin-top: 2.2vw;
        height: 2.7vh;
    }
    header .nav-right select{
        font-size: 2.7vw;
        border: 2px solid white;

    }
    header .nav-right button{
        font-size: 12px;
        cursor: pointer;
    }
    /* -------------------- main section - css ------------------------ */
    .main-section{
        margin-top: 11vh;
    }
    .main-section .tag-line{
        font-size: 32px;
    }
    .main-section p{
        margin-top:18px;
        font-size: 18px;
        letter-spacing: 1px;
    }
    .main-section .login{
        flex-direction: column;
    }
    .main-section .login input{
        width: 84%;
        height: 6.5vh;
        font-size: 18px;
        margin-top: 18px;
        color: white;
    }
    .main-section .login input:hover{
        font-size: 10px;
        padding-bottom: 5px;
        text-transform:capitalize;
        letter-spacing: 1px;
    }
    .main-section .login button{
        width: 40%;
        margin-top: 18px;
        font-size: 18px;
    }
    .main-section .login button:hover{
        cursor: pointer;
    }

    hr{
        border: 2px solid rgb(61, 60, 60);
        position:absolute;
        width: 100%;
        bottom: calc(100vh - 77vh);
    }



}
